:root {
  --dark: #2c2210;
  --light: #40331c;
}

html, body, #content-wrapper, #coverflow {
  height: 100%;
}

html, body {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #493c24;
}

.navbar {
  z-index: 100;
}

.flipster--coverflow .flipster__item__content {
  -webkit-box-reflect: inherit;
          box-reflect: inherit;
}

.flipster__button {
  z-index: 3;
}

#coverflow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo, #logo object {
  width: 20%;
}

.ground {
  position: absolute;
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
  width: 200%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--dark)), color-stop(60%, var(--light)));
  background-image: linear-gradient(var(--dark), var(--light) 60%);
  background-size: 100%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.ground::before, .coverflow-item-shadow::after {
  content:'';
  position: absolute;
  width: 100%;
}

/* this contains a radial-gradient, which fakes the watch's dropshadow */
.ground::before {
  bottom: 500px;
  left: 0;
  height: 500px;
  background-image: linear-gradient(var(--dark), var(--light));
  transform-origin: 50% 0;
  transform: rotateX(-70deg);
}

/*this contains a radial-gradient, which fakes the watch's dropshadow*/
.coverflow-item-shadow::after {
  bottom: 0;
  left: 125%;
  height: 20%;
  width: 300%;
  -webkit-transition-duration: .5s;
	   -moz-transition-duration: .5s;
	        transition-duration: .5s;
  /* background-image:radial-gradient(#2c2416, rgba(44, 36, 22, 0) 60%); */
  background-image:radial-gradient(#231b0d, rgba(35, 27, 13, 0) 60%);
  background-size: 50% 80%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.fa-cog, .fa-sign-out-alt {
  font-size: 1.5em;
}

.fa-cog {
  color: rgba(0, 0, 0, .5);
  -webkit-transform:rotate(-90deg);
          transform:rotate(-90deg);
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.fa-cog:hover {
  color: #c8ad7f;
  -webkit-transform:rotate(90deg);
          transform:rotate(90deg);
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

}

.fa-sign-out-alt {
  color: rgba(0, 0, 0, .5);
  -webkit-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
}

.fa-sign-out-alt:hover {
  color: #c8ad7f;
  -webkit-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
}

.btn-outline-brown {
  color: rgba(0, 0, 0, .5);
  background-image: none;
  background-color: transparent;
  border-color: rgba(0, 0, 0, .5);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 2));
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.btn-outline-brown:hover {
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.bg-input, .bg-input:focus {
  color: var(--light);
  background-color: #c8ad7f;
  border-color: rgba(0, 0, 0, .5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.bg-input::placeholder {
  color: var(--light);
}
