:root {
  --icon-color: #c8ad7f;
  --icon-fill: #40331c;
}

.shadow {
  -webkit-filter: url("#inset-shadow");
  filter: url("#inset-shadow");
}

/* ===== Path ===== */
.icon-path {
  stroke: var(--icon-color);
  fill: var(--icon-color);
  stroke-width: 10;
}
